<% if visit.id %>
  <tr>
    <td>
        <a href="<%= patient_path(visit.patient) %>">
            <%= display_name_with_ref_for visit.patient %>
        </a>
    </td>
    <td><%= time_ago_in_words(visit.date_of_visit) %> ago</td>
    <td><%= visit.complaints %></td>
    <td><%= visit.findings %></td>
    <td><%= visit.diagnosis %></td>
    <td><%= visit.treatment %></td>
    <td><%= visit.notes %></td>
    <td>
        <%= link_to patient_visit_path(visit.patient, visit, :format => "pdf"), 
          :class => 'btn btn-mini btn-info' do %>
          <i class="icon-print"></i>
        <% end %>
    </td>
    <td><%= link_to edit_patient_visit_path(visit.patient, visit),
        :class => 'btn btn-mini', :html => {:alt => 'Edit'} do%>
            <i class="icon-edit"></i> 
    <% end %>
    </td>
    <td><%= link_to patient_visit_path(visit.patient, visit), confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' do %>
        <i class="icon-trash icon-white"></i> 
    <% end %>
  </td>
  </tr>
<% end %>