<tr>
    <td>
        <a href="<%= patient_path(patient) %>">
            <%= display_name_with_ref_for patient %>
        </a>
    </td>
    <td><%= distance_of_time_in_words_to_now(patient.dob) %></td>
    <td><%= patient.mobile %></td>
    <td><%= patient.sex %></td>
    <td><%= link_to 'Show', patient, :class => 'btn btn-mini btn-info' %></td>
    <td><%= link_to edit_patient_path(patient),
        :class => 'btn btn-mini' do%>
            <i class="icon-edit"></i> 
    <% end %>
    </td>
    <td><%= link_to patient, confirm: 'Are you sure?', 
    method: :delete, :class => 'btn btn-mini btn-danger' do %>
        <i class="icon-trash icon-white"></i> 
    <% end %>
</td>
</tr>